

<article class="price-title visible green-theme">
  <div class="container">
    <h2>A LA CARTE</h2>
    <p>Can't find what you are looking for, create your own pack, or order training individually.</p>
  </div>
</article>


<article class="price-article secondary visible blue-theme">
  <div class="section price-presentation">
    <div class="price-image">
      <i class="fa fa-snowflake-o fa-5x" aria-hidden="true"></i>
    </div>
    <h2 class="price-title">Custom pack</h2>
    <p class="price-subtitle">Can't find what you are looking for, we design tailored workshop just for your needs.</p>
    <div class="price">
      <div class="price-value">

      </div>
    </div>
  </div>
  <div class="section price-detail">
  <h4 class="price-legend">Tailored Content:</h4>
  <ul class="price-advantages">
    <li>We create original content</a></li>
    <li>Choose the length - Entire day, 2h weekly class... </li>
    <li>Choose the capacity</li>
    <li>Access to online class notes</li>
    <li>Personalized feedbacks</li>
  </ul>
  <div class="price-cta">
    <a class="btn btn-primary" href="/#contact">Ask Cost Estimate
      <i class="fa fa-envelope" aria-hidden="true" style="padding-left:10px"></i>
    </a>
  </div>
  </div>
</article>

<article class="price-article visible blue-theme">
  <div class="container">
  <div class="trainings-icons">
    <div class="training-price">
      <span class="fa-stack fa-1x training-icon">
        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
      </span>
      <span> Team Building: 300£</span>
    </div>

    <div class="training-price">
      <span class="fa-stack fa-1x training-icon">
        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
      </span>
      <span> Presentation skills: 400£</span>
    </div>

    <div class="training-price">
      <span class="fa-stack fa-1x training-icon">
        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
      </span>
      <span> Storytelling: 400£</span>
    </div>

    <div class="training-price">
      <span class="fa-stack fa-1x training-icon">
        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
      </span>
      <span> Agile Methodology: 600£</span>
    </div>

    <div class="training-price">
      <span class="fa-stack fa-1x training-icon">
        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
      </span>
      <span> Improv for Managers: 800£</span>
    </div>

    <div class="training-price">
      <span class="fa-stack fa-1x training-icon">
        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
      </span>
      <span> Improv for Developers: 800£</span>
    </div>
  </div>
</div>
</article>
