{{ "<!-- Services -->" | safeHTML }}
<section id="presentation" class="bg-light-gray">
  <div class="container">
    <h2 class="section-heading">Improv for Businesses.</h2>

    <i>Some people think “Improv” means “stand-up comedy”. It doesn’t. Improv is a method that can be applied to music, science, and even your business.</i><br/><br/>

    Improv is a way of working <b>spontaneously and collaboratively to deal with unexpected situations</b>. Improv focuses on core principles like listening, embracing failure, reacting under any circumstances. This will help your team communicate and give your business space for innovation.<br/><br/>

    Those principles require practice but provide great rewards. Companies like Google, Apple or Twitter are already incorporating Improv into their training programs. The Harvard Business Review wrote <a href="https://hbr.org/2015/03/3-improv-exercises-that-can-change-the-way-your-team-works">“Improv Exercises can change the way your team works”</a>, The Forbes Magazine describe how <a href="https://www.forbes.com/sites/forbesleadershipforum/2014/06/27/why-improv-training-is-great-business-training/#1ff8c98a6bcb">“Improv training is great for your business”.</a><br/><br/>

    Everyone can benefits from improv. Team, managers or individuals. Small businesses like start-up and large companies.<br/>

    All our trainers have long experience in the industry. They built startups, worked in multi million dollars companies, pitched to Venture-Capitals and Business Angels, trained and coached engineers for years. They are all part of drama or improv companies.<br/>

  </div>
</section>
