<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">

  {{ partial "head.html" . }}
  {{ $bg := .Site.Params.style.background | default "secondary"}}

  <body id="pricing" class="bg-light-gray">
    {{ partial "nav.html" . }}
    {{ partial "hero-sub.html" . }}

    <section id="price-warning">
      <div class="container">
      <h3>All ou trainings are available individually</h3>
      <h4 style="float:right;">or prefer a pack tailored for your needs.</h4>
      </div>
    </section>
    {{ partial "packs.html" . }}


    {{ $page := replace (strings.TrimRight "/" (strings.TrimLeft "/" .RelPermalink)) "/" "__" }}

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

  </body>
</html>
