<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">

  {{ partial "head.html" . }}
  {{ $bg := .Site.Params.style.background | default "secondary"}}

  <body class="{{ printf "bg-%s" $bg }}">
    {{ partial "nav.html" . }}
    {{ partial "hero-sub.html" . }}

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            {{.Content}}
          </div>
        </div>
      </div>
    </section>

    {{ $page := replace (strings.TrimRight "/" (strings.TrimLeft "/" .RelPermalink)) "/" "__" }}

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

  </body>
</html>
