<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">

  {{ partial "head.html" . }}
  {{ $bg := .Site.Params.style.background | default "secondary"}}

  <body id="post" class="{{ printf "bg-%s" $bg }}">
    {{ partial "nav.html" . }}
    {{ partial "hero-sub.html" . }}

    <section id="team-building">
      <div class="container">
        <div class="full-circle purple-gradient" style="margin-bottom: -88px"></div>

        <h1 style="text-align:center;">Team Building</h1>
        <p>
          There is a common trait between jazz improvisation, working on a play, and releasing a software. It’s always a team effort. You can’t do it alone.
        </p>
        <p>
          If you ever worked on a product release, you know it’s a long term effort with many teams involved working on different parts of the product each bringing their own expertise. To us that looks a lot like working on a play, it requires comedians, stage manager, light engineers to prepare and rehearse for weeks then finally work in perfect synchronisation during the show. Scenery moving as comedians get new costumes: from an external point of view, a play looks like rigid and well oiled engine where every gear has a proper place. But truth is, everything can go wrong, from a missing prop, to a memory lapse. The only way to recover is to be flexible. Internally a drama company is an organic web where every member is strongly bound to the other, that can adapt to any situation.
        </p>
        <p>
          That’s the kind of structure you want to build in your organisation. A good team requires trust. You also have to acknowledge that everyone is different, has their own strength, and area of expertise. In her book <b>“Quiet: The power of introverts in a world that can't stop talking”</b> Susan Cain reminds us than in a world that embraces and admires extrovert, some of our greatest ideas - from the theory of evolution to van Gogh’s sunflowers - came from quiet and cerebral people who knew how to tune in to their inner worlds and the treasures to be found there. We just need to listen.
        </p>

        <blockquote class="purple-theme" cite="Software Manager @Amazon">I worked on a worldwide release, it took 20 teams across 5 timezones to work hand in hand for 5 months and finally everyone was involved during the 2h release. This would never happen without communication and team trust.</blockquote>

        <p>
          Our workshops are designed to build trust as our trainers create a safe environment where everyone can learn. We teach to listen, accept other ideas as an offer, and favour quality communication instead of noisy interactions. We are using improv games to demonstrate that we can all bring something to a team.
        </p>

        <div class="workshop-details">
          <div class="workshop-capacity">
            <b>Capacity:</b> 8 - 20 people
          </div>
          <a class="btn btn-primary purple" href="/#contact">contact us
            <i class="fa fa-envelope" aria-hidden="true" style="padding-left:10px"></i>
          </a>
        </div>

      </div>
    </section>

    <section id="communication-management" class="bg-light-gray">

      <div class="container">
        <div class="full-circle orange-gradient" style="margin-bottom: -88px"></div>
        <h1 style="text-align:center;">Communication and Management</h1>
        <p>
          Before you can speak, you should learn to listen. This is all you need to know about communication. But it requires practice. Great leaders listen feedbacks and use them to support their team.
        </p>
        <p>
          The <a href="https://en.wikipedia.org/wiki/Prisoner%27s_dilemma"> prisoner’s dilemma</a> is a standard game theory example that describes how two completely "rational" individuals might not cooperate, even if it appears that it is in their best interests to do so. Harari in his book <b>“Sapiens”</b>, describes our species as one of the most collaborative one. We can create mass networks, in which millions of complete strangers work together towards common goals. Our interest is to work together. However in many businesses we keep seeing self interest behaviors.
        </p>
        <p>
          In Improv you have to listen to your partners. You have to accept ideas and feedbacks from everyone. Especially from the audience, as provides your clear and immediate feedbacks through laughs, or awkward silence.
        </p>
        <p>
          This workshop focus on listening skills and getting/providing feedbacks. Then with more advanced techniques we help you to leverage those feedbacks. Negative feedbacks can be hard to receive but they are usually the best ones. You just need to accept them.
        </p>

        <div class="workshop-details">
          <div class="workshop-capacity">
            <b>Capacity:</b> 8 - 20 people
          </div>
          <a class="btn btn-primary orange" href="/#contact">contact us
            <i class="fa fa-envelope" aria-hidden="true" style="padding-left:10px"></i>
          </a>
      </div>
    </section>

    <section id="presentation-skills">
      <div class="container">
        <div class="full-circle blue-gradient" style="margin-bottom: -88px"></div>
        <h1>Presentation Skills</h1>

        <p>
          Every time we ask, why people don't want to present in front of an audience the answer is always the same: ''fear''. Fear of being judged, of looking stupid, of being boring.
        </p>
        <p>
          Fear is a perfectly normal sensation, it’s due to the evolution of our brain. We evolved to survive and although the brain is wired to spot dangers, it can freeze in front of them, as we freeze in front of an audience. Fear is important, it makes you focus. Improv helps you to embrace it.
        </p>
        <p>
          Why would you fear the audience? It’s your strongest allie in the room. When you attend a conference you expect to learn something. If the presenter fails to deliver, then you lost your time. It’s a lose-lose interaction. The audience wants you to succeed.
        </p>
        <blockquote class="blue-theme" cite="Keith Johnstone">Normal trainings ignore the fear. We should start by the fear. This universal phobia of being looked at.</blockquote>
        <p>
          This workshop focuses on fear management. We use techniques to listen feedback from the audience. We also had storytelling techniques to help you deliver your message efficiently.
        </p>
        <div class="workshop-details">
          <div class="workshop-capacity">
            <b>Capacity:</b> 8 - 20 people
          </div>
          <a class="btn btn-primary blue" href="/#contact">contact us
            <i class="fa fa-envelope" aria-hidden="true" style="padding-left:10px"></i>
          </a>
      </div>
    </section>

    <section id="agile-methodology" class="bg-light-gray">
      <div class="container">
        <div class="full-circle green" style="margin-bottom: -88px"></div>

        <h1>Agile Methodology</h1>
        <p>
          Many software teams are structuring their workload using agile methods like SCRUM or KANBAN. The term agile was popularized by <a href="http://agilemanifesto.org/">the Manifesto for agile software development</a>, and is familiar to every software engineers. Those methods are now widely used outside of the software engineering world and adapted to any project management. I personally encountered this in the bank industry, consulting firms. As a reminder Kanban was first introduced by Toyota in their supply chain factories.
        </p>

        <p>
          But many teams keep failing to implement those methods. The main reason is they often see it as a process. Teams follow a set of rules, but forget core principles stated at the top of the manifesto:
        </p>
        <p>
          <b>“Through this work we have come to value, Individuals and interactions over processes and tools, Customer collaboration over contract negotiation, Responding to change over following a plan”</b>
        </p>

        <p>
        Those could be stated as core principles of improv. We value interaction betweens improvisers over a fixed story, we collaborate with the audience to make a tailored show, we respond to change instead of following a script like in a play.
To actually to do that, you need to accept failure.
        </p>

        <blockquote class="green-theme" cite="Keith Johnstone">School teaches you not to fail, and when you fail you learned to punish
yourself. But you can’t learn anything without failing.[...] You should have a positive attitude in front of failure.
        </blockquote>

        <p>
          School, startups. big industries, nobody likes failure. But that’s a core concept of agile methods. Some people likes to describe Agile methods as a cycle:
        </p>
        {{ $agilecycle := printf "img/agile-cycle.png"  }}
        <img class="img-responsive" src="{{ $agilecycle | absURL }}" style="margin: 20px auto;"></img>


        <p>
        This feedback loop need failure, you need to see that you are in the wrong direction to adjust. We learn to do that in every improv scene. We embrasse failure, as one of the most effective feedback.
        </p>
        <p>
          This workshop helps you to get a positive attitude to mistakes. You can’t learn anything without doing mistakes, so we should take risks. Failure is fine as soon as you adapt and learn from it. Improv techniques will guide you how to react, and adapt.
        </p>

        <div class="workshop-details">
          <div class="workshop-capacity">
            <b>Capacity:</b> 8 - 20 people
          </div>
          <a class="btn btn-primary green" href="/#contact">contact us
            <i class="fa fa-envelope" aria-hidden="true" style="padding-left:10px"></i>
          </a>
      </div>
    </section>


    <section id="customized-content">
      <div class="container">
        <div class="full-circle green" style="margin-bottom: -88px"></div>

        <h1>Customized Content</h1>
        <p>
          We provide tailor content for your specific needs. Just contact us to work with us.
        </p>

        <div class="workshop-details">
          <div class="workshop-capacity">
          </div>
          <a class="btn btn-primary green" href="/#contact">contact us
            <i class="fa fa-envelope" aria-hidden="true" style="padding-left:10px"></i>
          </a>
      </div>
    </section>

    {{ $page := replace (strings.TrimRight "/" (strings.TrimLeft "/" .RelPermalink)) "/" "__" }}

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

  </body>
</html>
