/**
 * fonts.
 */
 @import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);
 @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);



/**
 * Colors
 */
$pale-green: #99d0aa;
$white-green: #eafdf0;
$light-green: #68c785;
$flash-green: #3dd095;

$dark-grey: #323232;
$light-grey: #777;

$green-1: #68C785;	/* Main Primary color - Green */
$green-2: #C7F1D4;
$green-3: #95DEAB;
$green-4: #44AE64;
$green-5: #279749;

$yellow-1: #FFDB85;
$yellow-2: #FFF2D2;
$yellow-3: #FFE6AB;
$yellow-4: #EBC05B;
$yellow-5: #CC9F35;

$purple-1: #A262B6;
$purple-2: #E3C5ED;
$purple-3: #C491D5;
$purple-4: #85409B;
$purple-5: #702787;

/**
 * Size
 */

$small-screen: 768px;
$large-screen: 992px;
$xlarge-screen: 1200px;

/**
 * General -
 */
* {
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: medium;
    font-weight: 300;
}

p {

    > .large {
      font-size: large;
    }
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: $light-green;
}

a:hover,
a:focus,
a:active,
a.active {
    color: $pale-green;
}

.text-muted {
    color: $light-grey;
}

.text-primary {
    color: $light-green;
}

.blog-list-item-summary {
  color: $light_grey;
}

/**
 * Services -
 */
#services {
  .fa:hover {
    color: $white-green;
  }
}

/**
 * Presentation -
 */
#presentation, #post {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: medium;

  p {
    text-align: justify
  }

  @media (min-width: $large-screen) {
    .container {
      width: 850px;
    }
  }
}

#post {
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}
/**
 * Shortcodes
 */
.line {
  width: 100%;
  height: 3px;
  background-color: $white-green;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.small-video {
  width: 200px;
}


/**
 * Agency
 * This is a copy-paste from the agency.css so it can be compressed by saas.
 * TODO: require some work to simplify.
 */

 // test

h1,
h2,
h3,
h4,
h5,
h6 {
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
   margin-bottom: 20px;
}

.img-centered {
   margin: 0 auto;
}

.bg-light-gray {
   background-color: #f7f7f7;
}

.bg-darkest-gray {
   background-color: #222;
}

.btn-primary {
   border: none;
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
   color: #fff;
   background-color: $flash-green;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
   border-color: #99d0aa;
   color: #fff;
   background-color: #99d0aa;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
   background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
   border-color: #68c785;
   background-color: #68c785;
}

.btn-primary .badge {
   color: #68c785;
   background-color: #fff;
}

.btn-xl {
   padding: 20px 40px;
   border-color: #68c785;
   border-radius: 3px;
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   background-color: #68c785;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
   border-color: #99d0aa;
   color: #fff;
   background-color: #99d0aa;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
   background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
   border-color: #68c785;
   background-color: #68c785;
}

.btn-xl .badge {
   color: #68c785;
   background-color: #fff;
}

/**
 * NavBar
 */
.navbar-default {
   border-color: transparent;
   background-color: #222;
   font-size: small;
}

.navbar-default .navbar-brand {
   font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
   color: #68c785;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
   color: #99d0aa;
}

.navbar-brand>img {
   height: 50px;
   max-width: 250px;
   margin: -15px;
}

.navbar-default .navbar-collapse {
   border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
   border-color: #68c785;
   background-color: #68c785;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   background-color: #68c785;
}

.navbar-default .nav li a {
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   letter-spacing: 1px;
   color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
   outline: 0;
   color: #68c785;
}

.navbar-default .navbar-nav>.active>a {
   border-radius: 0;
   color: #fff;
   background-color: #68c785;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
   color: #fff;
   background-color: #99d0aa;
}

@media(min-width:$small-screen) {
    .navbar-brand>img {
        height: 50px;
        max-width: 300px;
        margin: -15px;
    }

   .navbar-default {
       padding: 25px 0;
       border: 0;
       background-color: transparent;
       -webkit-transition: padding .3s;
       -moz-transition: padding .3s;
       transition: padding .3s;
   }

   .navbar-default .navbar-brand {
       font-size: 2em;
       -webkit-transition: all .3s;
       -moz-transition: all .3s;
       transition: all .3s;
   }

   .navbar-default .navbar-nav>.active>a {
       border-radius: 3px;
   }

   .navbar-default.navbar-shrink {
       padding: 10px 0;
       background-color: #222;
   }

   .navbar-default.navbar-shrink .navbar-brand {
       font-size: 1.5em;
   }
}

@media(min-width:$large-screen) {
   .navbar-brand>img {
       height: 50px;
       max-width: 400px;
       margin: -15px;
   }
}

header {
   text-align: center;
   color: #fff;
   background-attachment: scroll;
   background-image: url(../img/header-bg-strip-500.png);
   background-position: center center;
   background-repeat: none;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

header .intro-text {
   padding-top: 100px;
   padding-bottom: 50px;
}

header .intro-text-single {
   padding-top: 100px;
   padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
   margin-bottom: 25px;
   font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 22px;
   font-style: italic;
   line-height: 22px;
}

header .intro-text-single .intro-lead-in {
   margin-bottom: 25px;
   font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 22px;
   font-style: italic;
   line-height: 22px;
}

header .intro-text .intro-heading {
   margin-bottom: 25px;
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 50px;
   font-weight: 700;
   line-height: 50px;
}

header .intro-text-single .intro-heading {
   margin-bottom: 25px;
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 50px;
   font-weight: 700;
   line-height: 50px;
}

@media(min-width:$small-screen) {

  header {
    background-image: url(../img/header-bg-strip-1000.png);
  }

  section {
      padding: 70px 0;
  }

   header .intro-text {
       padding-top: 300px;
       padding-bottom: 200px;
   }

   header .intro-text-single {
       padding-top: 150px;
       padding-bottom: 0px;
   }

   header .intro-text .intro-lead-in {
       margin-bottom: 25px;
       font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 40px;
       font-style: italic;
       line-height: 40px;
   }

   header .intro-text .intro-heading {
       margin-bottom: 50px;
       text-transform: uppercase;
       font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 75px;
       font-weight: 700;
       line-height: 75px;
   }

   #portfolio .portfolio-item {
       margin: 0 0 30px;
   }
}

@media(min-width:$large-screen) {

  header {
    background-image: url(../img/header-bg-strip-2000.png);
  }

}

/**
 * Section.
 */
section {
   padding: 70px 0;
}

section h2.section-heading {
   margin-top: 0;
   margin-bottom: 15px;
   font-size: 2.3em;
}

section h3.section-subheading {
   margin-bottom: 75px;
   text-transform: none;
   font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 1em;
   font-style: italic;
   font-weight: 400;
}



.service-heading {
   margin: 15px 0;
   text-transform: none;
}

#portfolio .portfolio-item {
   right: 0;
   margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
   display: block;
   position: relative;
   margin: 0 auto;
   max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0;
   background: rgba(127,196,139,.9);
   -webkit-transition: all ease .5s;
   -moz-transition: all ease .5s;
   transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
   opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
   position: absolute;
   top: 50%;
   width: 100%;
   height: 20px;
   margin-top: -12px;
   text-align: center;
   font-size: 20px;
   color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
   margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
   margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
   margin: 0 auto;
   padding: 25px;
   max-width: 400px;
   text-align: center;
   background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
   margin: 0;
   text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
   margin: 0;
   font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-style: italic;
}

#portfolio * {
   z-index: 2;
}



.timeline {
   position: relative;
   padding: 0;
   list-style: none;
}

.timeline:before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 40px;
   width: 2px;
   margin-left: -1.5px;
   background-color: #f1f1f1;
}

.timeline>li {
   position: relative;
   margin-bottom: 50px;
   min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
   content: " ";
   display: table;
}

.timeline>li:after {
   clear: both;
}

.timeline>li .timeline-panel {
   float: right;
   position: relative;
   width: 100%;
   padding: 0 20px 0 100px;
   text-align: left;
}

.timeline>li .timeline-panel:before {
   right: auto;
   left: -15px;
   border-right-width: 15px;
   border-left-width: 0;
}

.timeline>li .timeline-panel:after {
   right: auto;
   left: -14px;
   border-right-width: 14px;
   border-left-width: 0;
}

.timeline>li .timeline-image {
   z-index: 100;
   position: absolute;
   left: 0;
   width: 80px;
   height: 80px;
   margin-left: 0;
   border: 7px solid #f1f1f1;
   border-radius: 100%;
   text-align: center;
   color: #fff;
   background-color: #68c785;
}

.timeline>li .timeline-image h4 {
   margin-top: 12px;
   font-size: 10px;
   line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
   float: right;
   padding: 0 20px 0 100px;
   text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
   right: auto;
   left: -15px;
   border-right-width: 15px;
   border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
   right: auto;
   left: -14px;
   border-right-width: 14px;
   border-left-width: 0;
}

.timeline>li:last-child {
   margin-bottom: 0;
}

.timeline .timeline-heading h4 {
   margin-top: 0;
   color: inherit;
}

.timeline .timeline-heading h4.subheading {
   text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
   margin-bottom: 0;
}

@media(min-width:$small-screen) {
   .timeline:before {
       left: 50%;
   }

   .timeline>li {
       margin-bottom: 80px;
       min-height: 100px;
   }

   .timeline>li .timeline-panel {
       float: left;
       width: 41%;
       padding: 0 20px 20px 30px;
       text-align: right;
   }

   .timeline>li .timeline-image {
       left: 50%;
       width: 100px;
       height: 100px;
       margin-left: -50px;
   }

   .timeline>li .timeline-image h4 {
       margin-top: 16px;
       font-size: 13px;
       line-height: 18px;
   }

   .timeline>li.timeline-inverted>.timeline-panel {
       float: right;
       padding: 0 30px 20px 20px;
       text-align: left;
   }
}

@media(min-width:$large-screen) {
   .timeline>li {
       min-height: 150px;
   }

   .timeline>li .timeline-panel {
       padding: 0 20px 20px;
   }

   .timeline>li .timeline-image {
       width: 150px;
       height: 150px;
       margin-left: -75px;
   }

   .timeline>li .timeline-image h4 {
       margin-top: 30px;
       font-size: 18px;
       line-height: 26px;
   }

   .timeline>li.timeline-inverted>.timeline-panel {
       padding: 0 20px 20px;
   }
}

@media(min-width:$xlarge-screen) {
   .timeline>li {
       min-height: 170px;
   }

   .timeline>li .timeline-panel {
       padding: 0 20px 20px 100px;
   }

   .timeline>li .timeline-image {
       width: 170px;
       height: 170px;
       margin-left: -85px;
   }

   .timeline>li .timeline-image h4 {
       margin-top: 33px;
       padding: 5px;
   }

   .timeline>li.timeline-inverted>.timeline-panel {
       padding: 0 100px 20px 20px;
   }
}

.flexbox {
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-flow: row wrap;
 flex-flow: row wrap;
 justify-content: flex-start;
 align-items: stretch;
}

.flexbox-center {
 justify-content: center;
}

.team-member {
   margin-bottom: 50px;
   text-align: center;
}

.team-member img {
   margin: 0 auto;
   border: 7px solid #fff;
}

.team-member p {
   margin-top: 0;
}
.team-member h3 {
   text-transform: none;
   font-weight: 600;
   color: #333;
}

.team-member h4 {
   font-size: 16px;
   text-transform: none;
   font-weight: 400;
   color: #777;
   margin-bottom: 0px;
}

.team-member h4 a {
   text-transform: none;
}

.team-member h5 {
   font-size: 14px;
   text-transform: none;
   font-style: italic;
   font-weight: 200;
   color: #777;
   margin-bottom: 15px
}

.team-member .report  {
   margin-top: 0px;
}

.team-member h5 a {
   text-transform: none;
}

.team-member ul {
   list-style: none;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 0;
}

.team-bio {
   padding: 15px
}

aside .heading {
   text-transform: none;
   color: #777;
   margin-top: 20px;
   margin-bottom: -40px;
}

section#contact {
   background-color: #222;
   background-image: url(../img/map-image.png);
   background-position: center;
   background-repeat: no-repeat;
}

section#contact .section-heading {
   color: #fff;
}

section#contact .form-group {
   margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
   padding: 20px;
}

section#contact .form-group input.form-control {
   height: auto;
}

section#contact .form-group textarea.form-control {
   height: 236px;
}

section#contact .form-control:focus {
   border-color: #68c785;
   box-shadow: none;
}

section#contact::-webkit-input-placeholder {
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
   color: #bbb;
}

section#contact:-moz-placeholder {
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
   color: #bbb;
}

section#contact::-moz-placeholder {
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
   color: #bbb;
}

section#contact:-ms-input-placeholder {
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
   color: #bbb;
}

section#contact .text-danger {
   color: #e74c3c;
}

section#contact .text-success {
   color: #ffffff;
}

footer {
   padding: 25px 0;
   text-align: center;
   font-size: 14px;
}

footer span.copyright {
   text-transform: uppercase;
   text-transform: none;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   line-height: 40px;
}

footer ul.quicklinks {
   margin-bottom: 0;
   text-transform: uppercase;
   text-transform: none;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   line-height: 40px;
}

ul.social-buttons {
   margin-top: 20px;
   margin-bottom: 10px;
}

ul.social-buttons li a {
   display: block;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   font-size: 20px;
   line-height: 40px;
   outline: 0;
   color: #fff;
   background-color: #222;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
   background-color: #68c785;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
   outline: 0;
}

.portfolio-modal .modal-content {
   padding: 100px 0;
   min-height: 100%;
   border: 0;
   border-radius: 0;
   text-align: center;
   background-clip: border-box;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.portfolio-modal .modal-content h2 {
   margin-bottom: 15px;
   font-size: 3em;
}

.portfolio-modal .modal-content p {
   margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
   margin: 20px 0 30px;
   font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
   margin-top: 0;
   margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
   margin-bottom: 30px;
}

.portfolio-modal .close-modal {
   position: absolute;
   top: 25px;
   right: 25px;
   width: 75px;
   height: 75px;
   background-color: transparent;
   cursor: pointer;
}

.portfolio-modal .close-modal:hover {
   opacity: .3;
}

.portfolio-modal .close-modal .lr {
   z-index: 1051;
   width: 1px;
   height: 75px;
   margin-left: 35px;
   background-color: #222;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
   z-index: 1052;
   width: 1px;
   height: 75px;
   background-color: #222;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
   display: none;
   opacity: 0;
}

::-moz-selection {
   text-shadow: none;
   background: #68c785;
}

::selection {
   text-shadow: none;
   background: #68c785;
}

img::selection {
   background: 0 0;
}

img::-moz-selection {
   background: 0 0;
}

body {
   webkit-tap-highlight-color: #68c785;
}

.blog-list-item a:hover, a:visited, a:link, a:active {
   text-decoration: none;
}

.quote {
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    color: $purple-1;
    margin:auto;
}

/**
 * Quotes
 */

blockquote {
  font-family: Ubuntu;
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 1.5em 0.5em 1.5em;
  margin: 1.5em 0;
  position: relative;
  font: normal 300 1em/1.5em 'Alegreya Sans', sans-serif;
  font-size: large;
  font-style: italic;
  color: $light-grey;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 4rem;
  height: 4rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: $purple-1;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: $purple-1;
}


/**
 * Clients
 */
.clients {
   padding: 30px 0 30px 0;
    flex-direction: row;
}
.client-logo {
  width: 200px;
  padding: 10px;
}

/**
 * price
 */
.purple {
  background: #6974CE;
}
.blue {
  background: #5BABDB;
}
.orange {
  background: #F1A16C;
}
.green {
  background: #3DD095;
}
.blue-gradient {
  background: linear-gradient(to bottom right, #5EDDDE, #5982D8);
}
.purple-gradient {
  background: linear-gradient(to bottom right, #BA7FEB, #476FC2);
}
.orange-gradient {
  background: linear-gradient(to top right, #E56C6C, #FFE56B);
}

.price-article {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    z-index: 10;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    &.blue-theme {
      .price-presentation {
        @extend .blue-gradient;
      }
      .price-detail .price-advantages>li:before {
        @extend .blue;
      }
      .price-cta > .btn-primary {
        @extend .blue;
      }
    }

    &.purple-theme {
      .price-presentation {
        @extend .purple-gradient;
      }
      .price-detail .price-advantages>li:before {
        @extend .purple;
      }
      .price-cta > .btn-primary {
        @extend .purple;
      }
    }

    &.green-theme {
      .price-presentation {
        @extend .green;
      }
      .price-detail .price-advantages>li:before {
        @extend .green;
      }
      .price-cta > .btn-primary {
        @extend .green;
      }
    }

    &.orange-theme {
      .price-presentation {
        @extend .orange-gradient;
      }
      .price-detail .price-advantages>li:before {
        @extend .orange;
      }
      .price-cta > .btn-primary {
        @extend .orange;
      }
    }

    .price-presentation, .price-detail {
      visibility: visible;
      animation-name: fadeInTop;
      animation-duration: .3s;
      transition-timing-function: cubic-bezier(0.05, 0.69, 0.14, 1);
      animation-fill-mode: both;
      position: relative;
      flex: 1;
      padding: 50px;
    }

    .price-detail {
      background: #ffffff;
      color: #3C507A;
      animation-delay: 0.2s;
      -webkit-border-radius: 0 10px 10px 0;
      -moz-border-radius: 0 10px 10px 0;
      -ms-border-radius: 0 10px 10px 0;
      -o-border-radius: 0 10px 10px 0;
      border-radius: 0 10px 10px 0;
      display: flex;
      flex-direction: column;

      li a {
        color: #3C507A;
      }
      .price-cta {
        float: right;
      }
    }

    .price-presentation {
        text-align: center;
        color: #ffffff;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        -o-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px;

        > .price {
          right: 50px;
          bottom: 50px;
          line-height: normal;
          display: flex;
          align-items: baseline;
          float:right;

          > .price-value {
              display: block;
              font-size: 70px;
              line-height: 80px;
              font-weight: bold;
          }

          .price-currency {
              font-size: 30px;
          }

          > .price-value-infos {
            > .price-period {
                display: block;
                vertical-align: bottom;
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
                opacity: 0.8;
            }
          }
        }
    }
}

.price-article.secondary .price-presentation {
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.price-article.secondary .price-detail {
  margin-top: 20px;
  margin-bottom: 20px;
}

.price-advantages>li:before{background:#6974CE}

.price-article .price-detail .price-advantages>li:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 7px;
  width: 8px;
  height: 8px;
  background: #3dd095;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.price-article .price-detail .price-advantages>li:before {
  background: #F1A16C;
}

.price-article .price-detail .price-advantages>li {
  position: relative;
  margin: 10px 0;
  padding-left: 23px;
}

.full-circle {
  background-color: #c06;
  height: 100px;
  width:100px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  margin: auto;
}
